.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f9;
  text-align: center;
  margin-left: 350px;
}

h1 {
  color: #333;
  margin-bottom: 10px;
}

p {
  color: #555;
  margin-bottom: 20px;
  font-size: 18px;
}
